<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBD Guessr</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script th:src="@{/js/geoGame.js}" defer></script>
</head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>

<div id="gameWindow">

</div>

</body>
<script th:inline="javascript">
    let images = [[${images}]];
</script>
</html>