<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBD Guessr</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script th:src="@{/js/geoGame.js}" defer></script>
</head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>

<div class="container">
    <div class="container-second"><h2 class="guessCounter" id="guessCounter"></h2>
        <div class="guessWindow" id="guessWindow">
            <div class="img-window">
                <img id="guessImage" src="" style="width: 500px; height: 500px;">
            </div>
            <div class="choice-window">
                <select id="guessChoice_1" name="choice_1">
                    <option th:each="option : ${choice_1}" th:value="${option}" th:text="${option}"></option>
                </select>
                <select id="guessChoice_2" name="choice_2">
                    <option value="none">Can't tell</option>
                    <option th:each="option : ${choice_2}" th:value="${option}" th:text="${option}"></option>
                </select>
                <select id="guessChoice_3" name="choice_3">
                    <option th:each="option : ${choice_3}" th:value="${option}" th:text="${option}"></option>
                </select>
                <button class="btn-guess" id="guessButton">Guess</button>
            </div>
        </div></div>

</div>



</body>
<script th:inline="javascript">
    let path = [[${path}]];
    let images = [[${images}]];
</script>
</html>