<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
  <div th:fragment="top"  class="header-container">
    <div class="header">
      <span class="header-text">
        <a href="/"><img  th:src="@{/images/logo.png}"/></a>
      </span>
    </div>
    <nav>
      <a href="/login">Log In</a>
      <a href="/register">Sign Up</a>
    </nav>
  </div>
  <div class="button-wrapper">
    <div class="button-container">
      <form action="#" th:action="@{/playlists}" method="get">
        <input class="button" type="submit" id="main" name="ptype" value="1"/>
      </form>
    </div>
    <div class="button-container">
      <form action="#" th:action="@{/playlists}" method="get">
        <input class="button" type="submit" id="trivia" name="ptype" value="2"/>
      </form>
    </div>
  </div>
</body>
</html>