<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/headers :: header}"></head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>
<div class="button-wrapper">
    <div class="button-container">
        <form action="#" th:action="@{/playlists}" method="get">
            <input class="button" type="submit" id="main" name="ptype" value="1"/>
        </form>
    </div>
    <div class="button-container">
        <form action="#" th:action="@{/playlists}" method="get">
            <input class="button" type="submit" id="trivia" name="ptype" value="2"/>
        </form>
    </div>
</div>
</body>
</html>