<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <title>Playlists</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div th:replace="fragments/loggedInGeneral :: top"/>

<div class="button-wrapper-p">
    <div th:each="playlist : ${playlists}" >
        <div class="button-container-p">
            <form action="#" th:action="@{/playlists/entry}" method="get">
                <input class="playlist" type="submit" name="pid" th:value="${playlist.id}" style="background: url('/images/image.png') no-repeat;" />
            </form>
            <span th:text="${playlist.name}">name</span>
        </div>
    </div>
</div>

</div>
</body>
</html>