<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/headers :: header}"></head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>
<div class="container">
    <div class="title">
        <div class="title-text">
            <span th:text="${playlist.name}"></span><br>
        </div>
        <img th:src="${playlist.thumbnail}"><br>
    </div>
    <div class="description">
        <span id="desc" th:text="${playlist.description}"></span><br>
        <span id="rating" th:text="${playlist.rating}"></span><br>
    </div>
    <form action="#" th:action="@{/geo}" method="get">
        <button type="submit" name="pid" th:value="${playlist.id}" class="btn btn-primary">Play</button>
    </form>
    <div class="user">
        <label >Playlist created by</label>
        <span th:text="${playlist.user.username}"></span><br>
    </div>
</div>
</body>
</html>