<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/headers :: header}"></head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>
<div class="container">
  <div class="profile-info" th:object="${profile}">
    <div class="profile">
      <div class="profile-img">
        <img th:src="@{'/images/profiles/'+${profile.id}+'_'+${profile.username}+'/profile.png'}">
      </div>
      <div class="profile-edit">
        <span th:text="${profile.username}"></span>
        <form action="#" th:action="@{/profile/edit}" method="get">
          <input class="btn" type="hidden" id="create" value="">
          <button class="btn-edit" type="submit">Edit Account</button>
        </form>
      </div>
    </div>
    <div class="score">
      <span th:text="'Total Score: ' + ${profile.score}"></span>
    </div>
  </div>
</div>
</body>
</html>
