<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
</head>
<body class="login">
<div class="login-center">
  <h1>Register page</h1>
</div>
<form th:action="@{/auth/register}" method="post">
  <div class="center-container">
    <div class="email">
      <label for="email">Email</label>:
      <input type="text" id="email" name="email" />
    </div>
  </div>
  <div class="login-form">
    <div class="username">
      <label for="username">Username</label>:
      <input type="text" id="username" name="username" autofocus="autofocus" />
    </div>
    <div class="pass">
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" />
    </div>
  </div>
  <div class="log-btn">
    <input type="submit" value="Register" class="submit-btn"/>
  </div>
</form>
</body>
</html>