<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
</head>
<body>
<h1>Register page</h1>
<form th:action="@{/auth/register}" method="post">
  <label for="username">Username</label>:
  <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
  <label for="password">Password</label>:
  <input type="password" id="password" name="password" /> <br />
  <input type="submit" value="Log in" />
</form>
</body>
</html>