<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>DBD Guessr</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <script th:src="@{/js/triviaGame.js}" defer></script>
</head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>
<div class="container">
  <div class="quiz-wrapper">
    <h2 id="quiz_status"></h2>
    <div class="quiz-container" id="quiz-container"></div>
  </div>
</div>
</body>
<script th:inline="javascript">
  let name = [[${name}]];
</script>
</html>