/* main body all pages */
body {
    height:100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    background-image: url("../images/site_img/dbd1.png");
    background-position:50% 0 ;
    background-repeat: space;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.header {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    left: 150px;
    top:20px;
    margin-left: 20px;
}
.header img {
    margin-top: 15px;
    alignment: left;
    width: 100px;
}
.header-text {
    display: flex;
    align-items: center;
}
.header-text a {
    margin-right: 50px;
    text-decoration: none;
    font-size: 32px;
    color:#b90e0a;
}
/*intro animation*/
.intro{
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url("../images/site_img/load.gif");
    background-size: 100vw;
    transition : 1s;
}
.intro.fade{
    transform: translateY(-100%);
}
.loading-header{
    position: absolute;
    color: white;
    transform: translate(10vw, 10vw);
}
.loading{
    position: relative;
    display: inline-block;
    bottom: -120px;
    opacity: 0;
}
.loading.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.7s;
}
.loading.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.7s;
}
 /*nav bar*/
nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 150px;
    padding: 20px 50px 20px calc(100vw - 750px);
    border-radius: 20px;
    background: linear-gradient(to right, rgba(40, 43, 43, 0.1), rgba(40, 43, 43, 1));
}
.logged{
    display: flex;
    align-items: center;
}
.profile {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
button.profilePic {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.profile input {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}
.profilePage.pic {
    width: 100px;
    height: 100px;
    padding-right: 30px;
}
.profileName{
    color: white;
    padding-right: 30px;
}
.btn-login {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #b90e0a;
    text-decoration: none;
    border: 2px solid #b90e0a;
    border-radius: 4px;
    margin-right: 40px;
    cursor: pointer;
}
.btn-login:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.btn-signup {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 4px;
    margin-right: 40px;
    cursor: pointer;
}
.btn-signup:hover {
    background-color: transparent;
    border: 2px solid #b90e0a;
    color: #b90e0a;
    cursor: pointer;
}
.btn-logout {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 4px;
    margin-right: 40px;
    cursor: pointer;
}
.btn-logout:hover {
    background-color: transparent;
    border: 2px solid #b90e0a;
    color: #b90e0a;
    cursor: pointer;
}
.btn-create{
    padding: 14px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5vw;
}
.btn-create:hover{
    color: #b90e0a;
    cursor: pointer;
    border-bottom: 2px solid #b90e0a;
}
@media screen and (max-width: 900px) {
    .header {
        left: 40px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        left: 20px;
        top: 20px;
    }

    nav {
        right: 20px;
        padding: 20px 30px;
    }
}
/*home page choose between games*/
.button {
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    border: none;
}
.button-container {
    display: inline-block;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 40px;
}
@media screen and (max-width: 900px) {
    .button-wrapper {
        flex-direction: column;
    }
    .button-container {
        margin-bottom: 100px;
    }
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .header {
        position: static;
        margin-bottom: 20px;
    }
    nav {
        position: static;
        margin-top: 20px;
    }
}
.button-container input[id="geo"] {
    background: url('../images/site_img/geoGame.png') no-repeat;
    background-size: 350px;
}
.button-container input[id="geo"]:hover {
    background: url('../images/site_img/geoGame_hover.png') no-repeat;
    cursor: pointer;
    background-size: 350px;
}
.button-container input[id="trivia"] {
    background: url('../images/site_img/triviaGame.png') no-repeat;
    background-size: 350px;
}
.button-container input[id="trivia"]:hover {
    background: url('../images/site_img/triviaGame_hover.png') no-repeat;
    cursor: pointer;
    background-size: 350px;
}
/*playlists geo*/
.button-wrapper-p {
    flex-direction: column;
    background: rgba(40, 43, 43, 0.75);
    height: auto;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    margin-top: 75px;
    align-self: center;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 70%;

}
.button-container-p {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}
.playlist {
    width: 300px !important;
    height: 300px !important;
    background-size: 300px !important;
    border: none;
    position: relative;
}
.playlist:hover {
    opacity: 0.5;
    cursor: pointer;
}
.button-wrapper-all{
    display: flex;
    flex-direction: row;
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.text-wrapper span{
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    position: relative;
    bottom: 50%;
    transform: translateY(50%);
    text-shadow: 2px 2px 4px #710c04;
    font-family: 'Creepster', cursive;
}
@media only screen and (max-width: 800px) {
    .button-wrapper-p {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .button-wrapper-p {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 400px) {
    .button-wrapper-p {
        grid-template-columns: repeat(1, 1fr);
    }
}
/*playlist page*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(40, 43, 43, 0.75);
    margin-top: 75px;
    width: auto;
    height: auto;
    padding: 50px;
    border-radius: 5px;
}
.items-container{
    margin-top: 20px;
    padding-top: 30px;
}
.col{
    display: flex;
    flex-wrap: wrap;
}
.col1{
    flex: 1;
    display: flex;
    flex-direction: column;

}
.title-text {
    display: inline-block;
    padding-bottom: 30px;

}
.title-text span {
    display: inline-block;
    font-size: 35px;
    width: 500px;
    color: white;
    font-weight: bolder;
    padding-top: 20px;
    border-radius: 20px;
    text-decoration: underline #b90e0a;

}
.description {
    display: flex;
    align-items: center; /* aligns items along the center */
    justify-content: space-between;
}
.description span[id="desc"]{
    text-align: left;
    height: auto;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
    border-radius: 20px;
}
.col2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
}
.col2 img{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.col2 span[id="rating"]{
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bolder;
}
.btn-play{
    align-self: center;
    margin-top: 50px;

}
.btn-play button{
    font-size: 30px; /* Adjust the font size as needed */
    padding: 20px 35px; /* Adjust the padding as needed */
}
.btn-back {
    margin-top: auto;
}
.btn-back button{
    margin: 0 !important;
    alignment: bottom;
}
.btn-rate{
     display: flex;
     justify-content: end;
 }
.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-edit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user{
    text-align: center;
    font-size: 15px;
    color: red;
    font-weight: bold;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-top: auto;
    padding: 5px 5px;
    text-shadow: none;

}
.btn-primary {
    background-color: darkred;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    border: none;
    margin:  30px 20px 40px 20px;
}
.btn-primary:hover {
    background-color: #710c04;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .container{
        width: 50%;
    }
    .col1 {
        flex-grow: 2;
        width: 50%;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    .col2 {
        flex-grow: 1;
        width: 50%;
    }
}
/*login and register*/
.login {
    height: 100%;
    width: 960px;
    margin: auto;
    background-color: black;
    background-image: url("../images/site_img/load.gif");
    background-position:50% -200%;
    background-repeat: no-repeat;
}
.login-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login h1{
    color: white;
}
.error{
    color: white;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.form-login{
    margin-top: 130px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}
input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.submit-btn {
    width: 96%;
    padding: 10px;
    background-color: lightgrey;;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
}
.submit-btn:hover {
    background-color: #710c04;
    color: white;
}
/*user edit account page*/
.profile-info{
    margin-top: -20px;
    padding-top: 100px;
    color: white;
}
.profile-img{
    margin-bottom: 50px;
    display: flex;
    flex-direction: inherit;
    justify-content: left;
    align-items: flex-start;

}
.profile-img img{
    margin-bottom: 20px;
}
.profile-img form label{
    margin-bottom: 20px;
    font-size: 20px;
}
.profile-pass input{
    margin-bottom: 10px;
}
.profile-email input{
    margin-bottom: 10px;
}
.btn-profile1 {
    padding: 10px 20px;
    background-color: #710c04;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}
.btn-profile1:hover {
    background-color: #710c04;
}
.btn-profile {
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;

}
.btn-profile:hover {
    background-color: #710c04;
}
.file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.file-input-container input[type="file"] {
    display: none;
}
.file-input-container .btn-profile {
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}
.file-input-container .btn-profile:hover {
    background-color: #710c04;
}
@media only screen and (max-width: 1000px) {
    .profile-img{
        margin-left: 0;
    }
}
@media only screen and (max-width: 768px) {
    .profile-info{
        margin-top: 100px;
        color: white;
    }
    .profile-pass{
        width: 50%;
    }
    .profile-email{
        width: 50%;
    }
}
/*create playlist*/
.move-wrap{
    display: flex;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-move{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    color: #fff;
    width: 10px;
    height: 40px;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
}
.btn-move:hover{
    background-color: #710c04;
    color: #fff;
    cursor: pointer;
}
.img-container{
    padding: 50px;
}
.img-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(40, 43, 43, 0.99);
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-edit-wrap{
    display: flex;
}
.info-container form{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.info-container input{
    margin-bottom: 10px;
    width: 20vw;
}
.info-container textarea {
    width: 20vw;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    border-radius: 4px;
    height: 50px;
    margin-bottom: 10px;
}
.info-container select {
    width: 10vw;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    background-color: #fff;
}
.btn-add{
    background-color: darkred;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-add:hover{
    background-color: #710c04;
    color: #fff;
    cursor: pointer;
}
.btn-edit-delete {
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    border: none;
    margin:  10px;
}
.btn-edit-delete:hover {
    background-color: transparent;
    color: darkgray;
    cursor: pointer;
}
.btn-submit{
    background-color: darkred;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
}
.btn-submit:hover{
    background-color: #710c04;
    color: #fff;
    cursor: pointer;
}
.add-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.add-container select{
    width: 10vw;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}
.file-input-container label{
    font-weight: normal;
    font-family: Arial, sans-serif;
}
/*geo game*/
.container-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.guessCounter{
    color: white;
}
.guessWindow {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.guessWindow h3{
    color: white;
}
.finish{
    flex-basis: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;

}
.img-window{
    flex: 1;
}
.img-window img{
    width: 500px;
    height: 500px;
}
.choice-window{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 80px;
    padding-top: 100px;
}
.choice-window select{
    width: 10vw;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 40px;
}
.btn-guess{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    color: #fff;
    width: 10vw;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
}
.btn-guess:hover{
    background-color: #710c04;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
    .choice-window{
        align-items: center;
    }
    .img-window img{
        width: 30vw;
        height: 30vw;
    }
}
/*trivia game first page*/
.button-wrapper-trivia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px;

}
.button-container-trivia {
    display: inline-block;
}
.button-trivia {
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    border: none;
}
.button-container-trivia input[id="survivor"] {
    background: url('../images/site_img/mixedsurvivorscollage.png') no-repeat;
    background-size: 350px;
}
.button-container-trivia input[id="survivor"]:hover {
    background: url('../images/site_img/mixedsurvivors_hover.png') no-repeat;
    cursor: pointer;
    background-size: 350px;
}
.button-container-trivia input[id="killer"] {
    background: url('../images/site_img/mixedkillerscollage.png') no-repeat;
    background-size: 350px;
}
.button-container-trivia input[id="killer"]:hover {
    background: url('../images/site_img/mixed_killer_hover.png') no-repeat;
    cursor: pointer;
    background-size: 350px;
}
@media only screen and (max-width: 900px) {
    .button-wrapper-trivia{
        flex-direction: column;
    }
}
/*trivia game page*/
.quiz-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz-wrapper h2{
    color: white;
}
.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}
.quiz-container h3{
    color: white;
    font-size: 26px;
}
.question-text{
    align-items: center;
}
.question-text h3{
    color: white;
    font-size: 22px;
}
.round{
    color: white;
    font-size: 18px;
}
.radio {
    display: none;
}
.radio + span {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}
.radio + span:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white; /* Change this to the desired color for the radio button */
}
.radio:checked + span:before {
    background-color: darkred; /* Checked background color of the radio button */
}
/*user profile info*/
.profile-info-info{
    display: flex;
    flex-wrap: wrap;
}
.profile-columns{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-right: 200px;
}
.profile-name{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.profile-name span{
    color: white;
    font-size: 28px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.btn-edit{
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: none;
}
.btn-edit:hover{
    background-color: transparent;
    color: #b90e0a;
    cursor: pointer;
}
.score span{
    font-size: 26px;
    color: white;
    font-weight: bold;
}
