body {
    height:100%;
    width:960px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    background-image: url("../images/dbd1.png");
    background-position:50% 0%;
    background-repeat: space;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.header {
    display: flex;
    align-items: center;
    position: absolute;
    left: 150px;
    top:20px
}
.header img {
    margin-right: 20px;
    alignment: left;
    width: 150px;
}
.header-text {
    display: flex;
    align-items: center;
}
.header-text a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 32px;
    color:brown;
}
nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 150px;
    padding: 20px 50px 20px calc(100vw - 750px);
    border-radius: 20px;
    background: linear-gradient(to right, rgba(40, 43, 43, 0.1), rgba(40, 43, 43, 1));
}
.logged{
    display: flex;
    align-items: center;
}
.profile {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
button.profilePic {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.profile input {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}
.profilePage.pic {
    width: 100px;
    height: 100px;
    padding-right: 10px;
}
.profileName{
    color: white;
}
nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2B1B1E;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 40px;
    cursor: pointer;
}
nav a:hover {
    background-color: #56373D;
    cursor: pointer;
}
.btn-create{
    padding: 14px 20px;
    background-color: #2B1B1E;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 40px;
}
.btn-create:hover{
    background-color: #56373D;
    cursor: pointer;
}
.error-element {
    color:red;
    font-weight:bold;
}
.button {
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    border: none;
}
.button-container {
    display: inline-block;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
@media screen and (max-width: 767px) {
    /* Apply these styles when the screen width is 767px or less */
    .button-wrapper {
        flex-direction: column;
    }
    .button-container {
        margin-bottom: 100px;
    }
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .header {
        position: static;
        margin-bottom: 20px;
    }
    nav {
        position: static;
        margin-top: 20px;
    }
}
.button-container input[id="geo"] {
    background: url('../images/image.png') no-repeat;
}
.button-container input[id="geo"]:hover {
    background: url('../images/images1.png') no-repeat;
    cursor: pointer;
}
.button-container input[id="trivia"] {
    background: url('../images/image.png') no-repeat;
}
.button-container input[id="trivia"]:hover {
    background: url('../images/images1.png') no-repeat;
    cursor: pointer;
}
.button-wrapper-p {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin-top: 200px;
}
.button-container-p {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #A88389;
}
.playlist {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    position: relative;
}
.playlist:hover {
    opacity: 0.5;
    cursor: pointer;
}
.button-container-p span{
    background-color: #282b2b;
    padding: 5px;
    border-radius: 2px;
    font-size: 20px;
}
@media only screen and (max-width: 800px) {
    .button-wrapper-p {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .button-wrapper-p {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 400px) {
    .button-wrapper-p {
        grid-template-columns: repeat(1, 1fr);
    }
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/back.png");
    margin-top: 75px;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    padding-bottom: 50px;
}
.items-container{
    margin-top: 20px;
    padding-top: 30px;
}
.title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 50px;
}
.title img {
    margin-left: 500px;
    width: 150px;
    height: 150px;
}
.title-text span{
    text-align: center;
    font-size: 40px;
    color: brown;
    font-weight: bolder;
    background-color: #323737;
    padding: 20px;
    border-radius: 20px;
}
.description {
    display: flex;
    align-items: center; /* aligns items along the center */
    justify-content: space-between;
}
.description span[id="desc"]{
    text-align: left;
    width: auto;
    height: auto;
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-right: 150px;
    margin-top: -250px;
    margin-left: 50px;
    background-color: #323737;
    padding: 20px;
    border-radius: 20px;
}
.description span[id="rating"]{
    text-align: center;
    font-size: 30px;
    color: brown;
    font-weight: bolder;
    margin-right: 90px;
    margin-top: 10px;
    margin-bottom: 170px;
}
.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-edit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-rate{
    display: flex;
    justify-content: right;
    margin-top: -200px;
    margin-right: 23px;
}
.user{
    text-align: center;
    font-size: 20px;
    color: brown;
    font-weight: bold;
    background-color: #323737;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    height: auto;

}
.btn-primary {
    background-color: darkred;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    border: none;
    margin:  50px 20px 40px 20px;
}
.btn-primary:hover {
    background-color: #56373D;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .title {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        margin-right: 50px;
    }
    .title-text{
        margin-bottom: 40px;
    }
    .title img {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .description{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .description span[id="desc"]{
        margin-right: 0;
        margin-top: 10px;
    }
    .description span[id="rating"]{
        margin-left: 90px;
        margin-top: 10px;
    }
    .btn-rate{
        justify-content: center;
        margin-left: 20px;
    }
}
.login {
    height: 100%;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    background-image: url("../images/load.gif");
    background-position:50% 40%;
    background-repeat: no-repeat;
}
.login-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login h1{
    color: white;
}
.error{
    color: white;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.form-login{
    margin-top: 425px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}
input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.submit-btn {
    width: 96%;
    padding: 10px;
    background-color: lightgrey;;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
}
.submit-btn:hover {
    background-color: darkred;
    color: white;
}
.profile-info{
    margin-top: -20px;
    padding-top: 100px;
    color: white;
}
.profile-img{
    margin-bottom: 50px;
}
.profile-img img{
    margin-bottom: 20px;
}
.profile-img form label{
    margin-bottom: 20px;
    font-size: 20px;
}
.profile-pass input{
    margin-bottom: 10px;
}
.profile-email input{
    margin-bottom: 10px;
}
.btn-profile {
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.btn-profile:hover {
    background-color: grey;
}
.file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.file-input-container input[type="file"] {
    display: none;
}
.file-input-container .btn-profile {
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.file-input-container .btn-profile:hover {
    background-color: grey;
}
@media only screen and (max-width: 768px) {
    .profile-info{
        margin-top: 100px;
        color: white;
    }
    .profile-pass{
        width: 50%;
    }
    .profile-email{
        width: 50%;
    }
}
.move-wrap{
    display: flex;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-move{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    color: #fff;
    width: 10px;
    height: 40px;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
}
.btn-move:hover{
    background-color: #56373D;
    color: #fff;
    cursor: pointer;
}
.img-container{
    padding: 50px;
}
.img-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-edit-wrap{
    display: flex;
}
.info-container form{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.info-container input{
    margin-bottom: 10px;
    width: 20vw;
}
.info-container textarea {
    width: 20vw;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    border-radius: 4px;
    height: 50px;
    margin-bottom: 10px;
}
.info-container select {
    width: 10vw;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    background-color: #fff;
}
.btn-add{
    background-color: darkred;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-add:hover{
    background-color: #56373D;
    color: #fff;
    cursor: pointer;
}
.btn-submit{
    background-color: darkred;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
}
.btn-submit:hover{
    background-color: #56373D;
    color: #fff;
    cursor: pointer;
}
.add-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.add-container select{
    width: 10vw;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}
.file-input-container label{
    font-weight: normal;
    font-family: Arial, sans-serif;
}
