<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/headers :: header}"></head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>
<div>
  <form id="add-image" th:action="@{/playlist/create/edit}" method="post" style="padding-top: 100px">
    <input type="hidden" name="index" th:value="${index}">
    <select form="add-image" name="choice_1" required>
      <option th:each="option : ${GAME_PHASE_1}" th:value="${option}" th:text="${option}"></option>
    </select>
    <select form="add-image" name="choice_2" required>
      <option th:each="option : ${GAME_PHASE_2}" th:value="${option}" th:text="${option}"></option>
    </select>
    <select form="add-image" name="choice_3" required>
      <option th:each="option : ${GAME_PHASE_3}" th:value="${option}" th:text="${option}"></option>
    </select>
    <input class="btn-profile" type="submit">
  </form>
</div>
</body>
</html>