<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBD Guesser</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script th:src="@{/js/playlistCreate.js}" defer></script>
</head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>
<div class="container">
    <div class="move-wrap">
        <button class="btn-move" id="prevPage"><</button>
        <div class="img-container" id="images">
        </div>
        <button class="btn-move" id="nextPage">></button>
    </div>
    <div class="add-container">
        <form action="#" th:action="@{/playlist/create/add}" method="get">
            <input class="btn" type="hidden" id="create" value="">
            <button class="btn-add" type="submit">Add Image</button>
        </form>
    </div>
    <div class="info-container">
        <form id="create-playlist" action="#" th:action="@{/playlist/create/finish}" method="post">
            <input type="text" id="name" name="name" placeholder="Playlist Name" required>
            <textarea form="create-playlist" id="desc" name="desc" placeholder="Playlist Description" required></textarea>
            <select form="create-playlist" name="type" required>
                <option th:value="geo" th:text="geo"></option>
                <option th:value="trivia" th:text="trivia"></option>
            </select>
            <input class="btn" type="hidden" id="finish" value="">
            <button class="btn-submit" type="submit">Create Playlist</button>
        </form>
    </div>
</div>
</body>
<script th:inline="javascript">
    let images = [[${playlist.getImages()}]];
    let id = [[${#authentication.principal['id']}]];
    let username = [[${#authentication.principal['username']}]];
</script>
</html>