<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/headers :: header}"></head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>
<div class="container">
    <div class="items-container">
        <div class="col">
            <div class="col1" id="col1">
                <div class="title-text">
                    <span th:text="${playlistEntry.name}"></span>
                </div>
                <div class="description">
                    <span id="desc" th:text="${playlistEntry.description}"></span>
                </div>
            </div>
            <div class="col2" id="col2">
                <img th:src="'/images/playlists/'+${playlistEntry.user.id}+'_'+${playlistEntry.id}+'_'+${playlistEntry.name}+'/thumb.png'">
                <span id="rating" th:text="${rating}"></span>
                <div class="btn-rate">
                    <form action="#" th:action="@{/geo}" method="get">
                        <input type="hidden" id="rate" name="pid" th:value="${playlistEntry.id}">
                        <button class="btn-primary"  type="submit">Rate Playlist</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <form action="#" th:action="@{/geo}" method="get">
                <input type="hidden" id="play" name="pid" th:value="${playlistEntry.id}">
                <button class="btn-primary"  type="submit">Play</button>
            </form>
            <div class="user">
                <label>Playlist created by</label>
                <span th:text="${playlistEntry.user.username}"></span><br>
            </div>
            <form action="#" th:action="@{/playlists}" method="get">
                <input class="btn" type="hidden" id="back" name="ptype" th:value="${playlistEntry.type}">
                <button class="btn-primary" type="submit">Back</button>
            </form>
        </div>
    </div>


</div>
</body>
<script>
    const spanElement = document.getElementById('desc');
    const col1 = document.getElementById('col1');
    const col2 = document.getElementById('col2');

    const characterLimit = 100;

    const spanText = spanElement.innerText;

    if (spanText.length < characterLimit) {
        let len = 250-spanText.length/8 -1
        col1.style.marginRight = len.toString()+'px'
        col2.style.marginLeft = len.toString()+'px'
    }
</script>
</html>