<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/headers :: header}"></head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>
<div class="container">
    <div class="items-container">
        <div class="col">
            <div class="col1">
                <div class="title-text">
                    <span th:text="${playlistEntry.name}"></span>
                </div>
                <div class="description">
                    <span id="desc" th:text="${playlistEntry.description}"></span>
                </div>
            </div>
            <div class="col2">
                <img th:src="'/images/playlists/'+${playlistEntry.user.id}+'_'+${playlistEntry.id}+'_'+${playlistEntry.name}+'/thumb.png'">
                <span id="rating" th:text="${rating}"></span>
                <div class="btn-rate">
                    <form action="#" th:action="@{/geo}" method="get">
                        <input type="hidden" id="rate" name="pid" th:value="${playlistEntry.id}">
                        <button class="btn-primary"  type="submit">Rate Playlist</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn-edit">
                <form action="#" th:action="@{/geo}" method="get">
                    <input type="hidden" id="play" name="pid" th:value="${playlistEntry.id}">
                    <button class="btn-primary"  type="submit">Play</button>
                </form>
                <form action="#" th:action="@{/geo}" method="get">
                    <input type="hidden" id="edit" name="pid" th:value="${playlistEntry.id}">
                    <button class="btn-primary"  type="submit">Edit</button>
                </form>
            </div>
            <div class="user">
                <label>Playlist created by</label>
                <span th:text="${playlistEntry.user.username}"></span><br>
            </div>
            <form action="#" th:action="@{/playlists}" method="get">
                <input class="btn" type="hidden" id="back" name="ptype" th:value="${playlistEntry.type}">
                <button class="btn-primary" type="submit">Back</button>
            </form>
        </div>
    </div>


</div>
</body>
</html>