<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/headers :: header}">
    <script th:src="@{/js/triviaGame.js}" defer></script>
</head>
<body>
<div th:insert="~{fragments/nav :: top}"></div>

<div class="button-wrapper-p">
    <div class="button-wrapper-all" th:each="playlist : ${playlists}" >
        <div class="button-container-p">
            <form action="#" th:action="@{/playlists/entry}" method="get">
                <input type="hidden" name="pid" th:value="${playlist.id}">
                <input class="playlist" type="submit" id="playlist" value="" th:style="'background: url(\''+'/images/playlists/'+${playlist.user.id}+'_'+${playlist.id}+'_'+${playlist.name}+'/thumb.png'+'\') no-repeat; background-size: 200px;'">
            </form>
        </div>
        <div class="text-wrapper">
            <span th:text="${playlist.name}">name</span>
            <span th:text="'Rating: ' + ${playlist.totalRating} + '/5'"></span>
        </div>
    </div>
</div>
</body>
</html>