<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="top" class="header-container">
    <div class="header">
        <span class="header-text">
          <a href="/"><img th:src="@{/images/logo.png}" alt="logo"/></a>
        </span>
    </div>
    <nav>
        <div sec:authorize="!isAuthenticated()">
            <a href="/auth/login">Log In</a>
            <a href="/auth/register">Sign Up</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div>
                <button class="profile" type="submit" th:action="@{/profile}" style="margin: 0; padding: 0">
                    <img th:src="@{${#authentication.getPrincipal()['profilePic']}}" th:alt="Profile" style="margin: 0; padding: 0">
                </button>
            </div>
            <div th:text="${#authentication.name}"></div>
            <a href="/auth/logout" class="logout-button">Logout</a>
        </div>
    </nav>
</div>
</html>