<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="top" class="header-container">
    <div class="header">
        <span class="header-text">
          <a href="/"><img th:src="@{/images/site_img/logo.png}" alt="logo"/></a>
        </span>
    </div>
    <nav id="main-nav" th:class="${#authentication.principal != null and #authorization.expression('hasRole(''ROLE_CREATOR'')')} ? 'creator' : ''">
        <div sec:authorize="!isAuthenticated()">
            <a href="/auth/login">Log In</a>
            <a href="/auth/register">Sign Up</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="logged">
            <div class="create-playlist" sec:authorize="hasRole('ROLE_CREATOR')">
                <form action="#" th:action="@{/playlist/create}" method="get">
                    <input class="btn" type="hidden" id="create" value="">
                    <button class="btn-create" type="submit">Create Playlist</button>
                </form>
            </div>
            <div class="profile">
                <form th:action="@{/profile/_}" method="GET">
                    <input type="image" th:src="@{'/images/profiles/'+${#authentication.principal['id']}+'_'+${#authentication.principal['username']}+'/profile.png'}" th:alt="Profile"/>
                </form>
                <div class="profileName" th:text="${#authentication.name}"></div>
            </div>
            <a href="/auth/logout" class="logout-button">Logout</a>
        </div>
    </nav>
    <script th:inline="javascript">
        let isAuthenticated = [[${#authentication.principal != null}]];
        let isCreator = [[${#authorization.expression('hasRole(''ROLE_CREATOR'')')}]];

        if (isAuthenticated && isCreator) {
            const navElement = document.getElementById('main-nav');
            navElement.style.padding = '20px 50px 20px calc(100vw - 925px)';
        }
    </script>
</div>
</html>