<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="top" class="header-container">
    <div class="header">
        <span class="header-text">
          <a href="/"><img th:src="@{/images/logo.png}" alt="logo"/></a>
        </span>
    </div>
    <nav>
        <div sec:authorize="!isAuthenticated()">
            <a href="/auth/login">Log In</a>
            <a href="/auth/register">Sign Up</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="logged">
            <div class="profile">
                <form th:action="@{/profile/_}" method="GET">
                    <input type="image" th:src="@{${#authentication.principal['profilePic']}}" th:alt="Profile"/>
                </form>
                <div class="profileName" th:text="${#authentication.name}"></div>
            </div>
            <a href="/auth/logout" class="logout-button">Logout</a>
        </div>
    </nav>
</div>
</html>